.form{
    display: flex;
    align-items: stretch;
}

input{
    flex: 1;
    width: 70%;
    padding-left: 20px;
    border: none;
    display: inline;
    font-size: 17px;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    background-color: var(--input-background-color, rgb(36, 36, 36));
    border: var(--input-border, none);
    box-sizing: var(--input-box-sizing, none);
    color: var(--input-color, white);
    z-index: 2;
}

input:focus,
input:focus-visible {
    outline: none;
    box-shadow:  0 0 0 3px rgba(72, 136, 255, 0.377), 0 0 8px rgba(72,136,255,0.12);
}

.button1{
    width: 30%;
    padding: 15px 0px;
    display: inline;
    border-radius: 10px;
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
    background-color: rgb(0, 32, 63);
    font-size: 17px;
    outline: none;
    color: white;
    z-index: 1;
}

.button1:hover {
  border-color: rgb(0, 59, 117);
}

.button1:active {
    background-color: rgb(0, 59, 117);
}

.title{
    color: var(--title-color, white);
}

body.light-mode {
    --title-color: rgb(0, 32, 63);
    --input-background-color: white;
    --input-border: rgba(0, 31, 63, 0.384) 1.5px solid;
    --input-box-sizing: border-box;
    --input-color: black;
}

@media (max-width: 400px) {
    .button1{
        font-size: 14px;
    }
    input{
        font-size: 13px;
    }
}